@import "tailwindcss";
@import "@fontsource/poppins";

:root {
    color-scheme: light dark;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}